<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>الدفع الإلكتروني</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../dist/style.min.css" />

  
    <link rel="stylesheet" href="../dist/bootstrap-rtl.min.css" />
  
</head>
<body class="ar order-card" dir="rtl">

  <div class="container">

      <header>
        <div class="row">
          <div class="col-xs-2">
            <div class="logo">
              <img src="../img/logo.png" alt="" />
            </div>
          </div>
          <div class="col-xs-10">
            <div class="heading">
              <h1>
بطاقة دهبية
<div class="card-edahabia">
  <img src="../img/card-recto.png" alt="" />
</div>
</h1>
              <p>
احصل على بطاقتك
</p>
            </div>
          </div>
        </div>
      </header>

      <div class="row row-flex">
        <div class="col-md-10 col-md-push-2">
          

    <form action="" class="form-horizontal">
      <fieldset>
        <legend>بطاقة دهبية</legend>

        <div class="form-group">
          <label class="col-lg-3">رقم CCP</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" />
          </div>
        </div>

        <hr />

        <div class="form-group">
          <label class="col-lg-3">الإسم و اللقب</label>
          <div class="col-lg-9">

            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="اللقب" />
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="اسم" />
              </div>
            </div>

          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3">البريد الإلكتروني</label>
          <div class="col-lg-9">
            <input type="email" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3">الهاتف المحمول</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" />
          </div>
        </div>

        <hr />

        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
            <div class="row">
              <div class="col-lg-6">
                <img src="http://placehold.it/300x50" alt="" class="img-thumbnail" width="300" height="50" />
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="الرجاء إدخال الرمز من الصورة" />
              </div>
            </div>
          </div>
        </div>

        <!-- div class="alert alert-danger">
          <strong>Captcha erronée !</strong> Veuillez le re-saisir a nouveau.
        </div -->

        <hr />

        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
            <input type="submit" class="btn btn-primary pull-right flip" value="تــصــديــق" />

            <div class="checkbox">
              <label>
                <input type="checkbox" /> <a href="terms.html">أوافق على شروط</a>
              </label>
            </div>
          </div>
        </div>

      </fieldset>
    </form>



          <div class="copywrite text-center">
            
            <em class="copywrite-text">جميع الحقوق محفوظة. بريد الجزائر &copy; 2016</em>
          </div>
        </div>
        <div class="col-md-2 col-md-pull-10">
          <aside>
            


          </aside>
        </div>
      </div>

  </div>

  <script src="../dist/script.min.js"></script>
  

</body>
</html>
