<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>الدفع الإلكتروني</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../dist/style.min.css" />

  
    <link rel="stylesheet" href="../dist/bootstrap-rtl.min.css" />
  
</head>
<body class="ar " dir="rtl">

  <div class="container">

      <header>
        <div class="row">
          <div class="col-xs-2">
            <div class="logo">
              <img src="../img/logo.png" alt="" />
            </div>
          </div>
          <div class="col-xs-10">
            <div class="heading">
              <h1>
النموذج
</h1>
              <p>
السيطرة على بطاقة الدفع الإلكتروني
</p>
            </div>
          </div>
        </div>
      </header>

      <div class="row row-flex">
        <div class="col-md-10 col-md-push-2">
          

  <form action="" class="form-horizontal">
    <fieldset>
      <legend>التأكيد</legend>

      <div class="alert alert-info">
        بريد الجزائر يعلمك الذي تم بدعم طلبك، سوف تتلقى رمز التأكيد من خلال الرسائل القصيرة، يرجى ندخله.
      </div>

      <div class="form-group">
        <label class="col-lg-3">رمز التأكيد</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
          <input type="submit" class="btn btn-primary pull-right flip" value="تــصــديــق" />
        </div>
      </div>

    </fieldset>
  </form>



          <div class="copywrite text-center">
            
            <em class="copywrite-text">جميع الحقوق محفوظة. بريد الجزائر &copy; 2016</em>
          </div>
        </div>
        <div class="col-md-2 col-md-pull-10">
          <aside>
            
          </aside>
        </div>
      </div>

  </div>

  <script src="../dist/script.min.js"></script>
  

</body>
</html>
