:root{
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  --primary-blue:#233975
}

.split-screen body{
  padding: 0;
  margin: 0;
  font-weight: 500;
  position: fixed;
}
.split-screen a{
  text-decoration: none;
  color: var(--primary-blue);
}
.split-screen a:hover{
  text-decoration: underline;
}
.split-screen{
  display: flex;
  flex-direction: column;
  position:relative;
}
 .left{
  height: 200px;
  background: #1f589c;
  
}
.left, .right {
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.right{
  background:#eeeeee;
  background-size: cover;
  
}

.left .img1{ 
     width: 80%; 
     display: block;
   margin-left: 20px; 
   margin-right: auto; 
   width: 85%;
  text-align: center; 
   display: flex; 
   align-items: center;  
     margin-right: 300px;   
    margin-bottom: 5%; 

}
.copy .Img2{
    
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
 
}


.right .copy{
  
  text-align: center;
  margin-bottom: 50px;
}


.right form{
  width: 328px;
}
.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size:  0.99rem; 
}
.split-screen label{
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  color:rgb(55 65 81);
  margin-right: 10px;
}

.login-btn{
  margin-top: 40px;
  display: block;
  width: 100%;
  background: #1f589c;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  padding: 1rem;
  font-size: 0.77rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


@media screen and (min-width: 900px) {
  .split-screen{
    flex-direction: row;
    height: 100vh;
  }
  .left,
  .right{
    display: flex;
    width: 50%;
    height: auto;
  }
}