<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Paiement Électronique</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../dist/style.min.css" />

  
</head>
<body class="fr order-card" dir="ltr">

  <div class="container">

      <header>
        <div class="row">
          <div class="col-xs-2">
            <div class="logo">
              <img src="../img/logo.png" alt="" />
            </div>
          </div>
          <div class="col-xs-10">
            <div class="heading">
              <h1>
Carte EDAHABIA
<div class="card-edahabia">
  <img src="../img/card-recto.png" alt="" />
</div>
</h1>
              <p>
Commandez votre carte
</p>
            </div>
          </div>
        </div>
      </header>

      <div class="row row-flex">
        <div class="col-md-10 col-md-push-2">
          

    <form action="" class="form-horizontal">
      <fieldset>
        <legend>Carte EDAHABIA</legend>

        <div class="form-group">
          <label class="col-lg-3">Numéro CCP</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" />
          </div>
        </div>

        <hr />

        <div class="form-group">
          <label class="col-lg-3">Nom et Prénom</label>
          <div class="col-lg-9">

            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Nom" />
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Prénom" />
              </div>
            </div>

          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3">E-Mail</label>
          <div class="col-lg-9">
            <input type="email" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3">Téléphone mobile</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" />
          </div>
        </div>

        <hr />

        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
            <div class="row">
              <div class="col-lg-6">
                <img src="http://placehold.it/300x50" alt="" class="img-thumbnail" width="300" height="50" />
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Veullez entrer les codes de l'image" />
              </div>
            </div>
          </div>
        </div>

        <!-- div class="alert alert-danger">
          <strong>Captcha erronée !</strong> Veuillez le re-saisir a nouveau.
        </div -->

        <hr />

        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
            <input type="submit" class="btn btn-primary pull-right flip" value="Valider" />

            <div class="checkbox">
              <label>
                <input type="checkbox" /> <a href="terms.html">J'accepte les condtions d'utilisation</a>
              </label>
            </div>
          </div>
        </div>

      </fieldset>
    </form>



          <div class="copywrite text-center">
            
            <em class="copywrite-text">Tous droits réservés. Algérie Poste &copy; 2016</em>
          </div>
        </div>
        <div class="col-md-2 col-md-pull-10">
          <aside>
            


          </aside>
        </div>
      </div>

  </div>

  <script src="../dist/script.min.js"></script>
  

</body>
</html>
